extends layout

block content
  .w3-container.w3-margin
    .w3-card-4
      header.w3-container.mobile.w3-teal
        a(href= '/' style="text-decoration: none")
          h1 Repositório de Recursos Didáticos
      .w3-container.w3-padding-16.w3-mobile
        .w3-container.w3-pale-blue.w3-center.w3-mobile
          h3= message
        p
          a(href= '/' class="w3-button w3-teal w3-hover-gray w3-round-large") Voltar
